h1{
font-family: 'DM Sans', sans-serif;
}

h3{
font-family: 'DM Sans', sans-serif;
}

h4{
font-family: 'DM Sans', sans-serif;
}

p{font-family: 'Lora', serif;
}

.my-bg{
   background-color: #fcf7de;
}

.my-bg1{
background-color: #ffaacc;
}